#
# Custom Pets Module Configuration
#

[worldserver]

#
#    CustomPets.Enable
#        Description: Activa o desactiva el módulo de mascotas custom.
#        Default:     1 (Activado)
#                     0 (Desactivado)
#
CustomPets.Enable = 1

